<mat-toolbar class="center" color="primary">
  <span>Bank Branches</span>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile columnWidth="300px">
    <mat-form-field>
      <mat-label>Choose City</mat-label>
      <mat-select>
        <mat-option *ngFor="let city of cities" [value]="city" (click)="getBranchDetails($event)">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <form class="form" #form="ngForm">
      <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" [(ngModel)]="searchValue"
          [ngModelOptions]="{standalone:true}" autocomplete="off">
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z8 table-padding" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Bank Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
    </ng-container>

    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef> Branch Name</th>
      <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>

    <ng-container matColumnDef="ifsc">
      <th mat-header-cell *matHeaderCellDef> IFSC Code </th>
      <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef> District </th>
      <td mat-cell *matCellDef="let element"> {{element.district}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator #paginator [length]="totalSize" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
  </mat-paginator>
</div>

<div [class.loader-hidden]="show">
  <div class="loader-overlay">
    <div>
      <mat-spinner *ngIf="show"></mat-spinner>
    </div>
  </div>
</div>
